
<div class="row title-row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-section mx-5"
        [style.justifyContent]="center">
    <h1 class="title"> Programa de <strong>afiliados</strong> </h1>
    </div>
</div>

<div class="text-center">
    <h2 class="title"> <strong>Bienvenido,</strong></h2>
    <p class="info-welcome">Antes de empezar rellena los siguientes datos</p>
</div>

<div class="card welcome-card-form z-depth-2 mt-lg-2 mx-xl-5 mx-lg-5 mx-md-5">
    <div class="card-header text-center">  
        <i class="far fa-user"></i>
        <h4> Datos personales</h4>
    </div>
    
    <div class="card-body mx-2 row  justify-content-center align-items-center">
        <form class="text-center col-xl-4 col-lg-6 col-md-8 col-sm-12"
        [formGroup]="welcomeForm" (ngSubmit)="onSubmit()">
            
            <input type="text" id="name" placeholder="* Nombre" 
                class="form-control mb-3" 
                formControlName="name" required
                [ngClass]="{'is-invalid': welcomeControl.name.touched &&  welcomeControl.name.errors,
                'is-valid': !welcomeControl.name.errors }">

            <input type="text" id="surname" placeholder="* Apellidos" 
                class="form-control mb-3" 
                formControlName="surname" required
                [ngClass]="{'is-invalid': welcomeControl.surname.touched &&  welcomeControl.surname.errors,
                'is-valid':  !welcomeControl.surname.errors }">

            <input type="text" id="dni" placeholder="* DNI/NIE" 
                class="form-control mb-3" 
                formControlName="dni" required
                [ngClass]="{'is-invalid': welcomeControl.dni.touched &&  welcomeControl.dni.errors,
                'is-valid': welcomeControl.dni.touched &&  !welcomeControl.dni.errors }">
            
            <input type="text" id="address" placeholder="* Dirección" 
                class="form-control mb-3" 
                formControlName="address" required
                [ngClass]="{'is-invalid': welcomeControl.address.touched &&  welcomeControl.address.errors,
                'is-valid': welcomeControl.address.touched &&  !welcomeControl.address.errors }">
<!-- TODO: -->
            <div class="form-row mb-3">
                <div class="col">
                    <ng-select #coutriesSelect
                            [items]="countries"
                            [selectOnTab]="true"
                            bindValue="isoCode"
                            bindLabel="name"
                            [clearable]="false" 
                            placeholder="* País"
                            formControlName="countryCode"
                            (ngModelChange)="onChangeCountry($event)">
                        </ng-select>
                        <!-- (ngModelChange)="onChangeCountry()" -->
                    
                </div>
                <div class="col">
                    <ng-select [items]="regions"
                            [selectOnTab]="true"
                            bindValue="name"
                            bindLabel="name"
                            [clearable]="false" 
                            placeholder="* Provincia"
                            formControlName="regionCode"> 
                    </ng-select>
                </div>
            </div>
                
            <div class="form-row mb-2">
                <div class="col">
                    <input type="text" id="postalCode" placeholder="Código Postal" class="form-control" 
                    formControlName="postalCode" required
                    [ngClass]="{'is-invalid': welcomeControl.postalCode.touched &&  welcomeControl.postalCode.errors,
                    'is-valid': welcomeControl.postalCode.touched && !welcomeControl.postalCode.errors }">                     
                </div>
                
                <span class="prefix-mumber" [style.min-width.px]="prefixWidth">+{{prefixCountry}}</span>

                <div class="col">
                        <input type="text" id="phone" placeholder="* Teléfono" class="form-control" 
                        formControlName="phone" required
                        [ngClass]="{'is-invalid': welcomeControl.phone.touched &&  welcomeControl.phone.errors,
                        'is-valid': welcomeControl.phone.touched &&  !welcomeControl.phone.errors }">
                </div>
            </div>
                        
            <div class="line-separation"></div>
                    
            <span class="text-center mb-4 text-size-info"> * Campos obligatorios: </span>
            
            <div class="d-flex mt-3 mb-4 text-size-info">
                <a href="#" class="text-size-info">Política de privacidad y uso de datos:</a>
                
                <div class="ml-3">
                    <label for="acccept">* He leido y acepto</label>
                    <input type="checkbox" id="acccept" class="ml-2" 
                    formControlName="acccept" required>
                </div>
            </div>
 
            <button class="btn mb-4 btn-block waves-effect" type="submit"
                [disabled]="!welcomeForm.valid"> Continuar
            </button> 
            
            <div class="custom-control custom-checkbox text-left text-color-input my-3" >
                <input type="checkbox" class="custom-control-input" id="checkInvoice"
                        formControlName="showInvoice">
                <label class="custom-control-label" for="checkInvoice" >
                    Utilizar los datos personales introducidos en el anterior paso
                </label>
            </div>
                <!-- <p> {{ welcomeForm.value  | json}}</p>             -->
        </form>
        <div class="line-separation"></div>
    </div>

<!-- invoice form -->
    <div class="card-header text-center">  
        <i class="far fa-building"></i>
        <h4> Datos de facturación</h4>
    </div>
    
    <div class="card-body mx-2 row  justify-content-center align-items-center">
        <form class="text-center col-xl-4 col-lg-6 col-md-8 col-sm-10"
                [formGroup]="invoiceForm" (ngSubmit)="onSubmitBilling()">  

            <div class="mb-3 text-color-input">
                <p class="text-center my-0"> * Tipo de cuenta: </p>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="empresa" 
                        value=0 name="companyType"
                        formControlName="companyType">
                    <label class="custom-control-label" for="empresa">Empresa</label>
                </div>
                
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="autonomo" 
                        value=1 name="companyType"
                        formControlName="companyType">
                    <label class="custom-control-label" for="autonomo">Autónomo</label>
                </div>
            </div>

            <input type="text" id="companyName" placeholder="* Nombre de la empresa" 
                class="form-control mb-3" 
                formControlName="companyName" required
                [ngClass]="{'is-invalid': invoiceControl.companyName.touched &&  invoiceControl.companyName.errors,
                            'is-valid': !invoiceControl.companyName.errors }">


            <input type="text" id="cif" placeholder="* CIF"
                class="form-control mb-3" 
                formControlName="cif" required
                [ngClass]="{'is-invalid': invoiceControl.cif.touched &&  invoiceControl.cif.errors,
                            'is-valid': invoiceControl.cif.touched ||  !invoiceControl.cif.errors }">
            
            <input type="text" id="addressInvoice" placeholder="* Dirección" 
                class="form-control mb-3" 
                formControlName="invoiceAddress" required
                [ngClass]="{'is-invalid': invoiceControl.invoiceAddress.touched &&  invoiceControl.invoiceAddress.errors,
                'is-valid': invoiceControl.invoiceAddress.touched && !invoiceControl.invoiceAddress.errors }">

            <div class="form-row mb-3">
                <div class="col">
                    <ng-select 
                            [items]="countries"
                            [selectOnTab]="true"
                            bindValue="isoCode"
                            bindLabel="name"
                            [clearable]="false" 
                            placeholder="* País"
                            formControlName="invoiceCountryCode"
                            (ngModelChange)="onChangeCountryInvoice($event)">
                        </ng-select>
                        <!-- (ngModelChange)="onChangeCountry()" -->
                    
                </div>
                <div class="col">
                    <ng-select [items]="regionsInvoice"
                            [selectOnTab]="true"
                            bindValue="name"
                            bindLabel="name"
                            [clearable]="false" 
                            placeholder="* Provincia"
                            formControlName="invoiceRegionCode"> 
                    </ng-select>
                </div>
            </div>
<!-- TODO: --> 
            <div class="form-row mb-2">
                <div class="col">
                    <input type="text" id="invoicePostalCode" placeholder="Código Postal" class="form-control" 
                        formControlName="invoicePostalCode" required
                        [ngClass]="{'is-invalid': invoiceControl.invoicePostalCode.touched &&  invoiceControl.invoicePostalCode.errors,
                        'is-valid': invoiceControl.invoicePostalCode.touched || !invoiceControl.invoicePostalCode.errors }">                 
                </div>

                <span class="prefix-mumber" [style.min-width.px]="prefixWidth">+{{prefixCountryInvoice}}</span>

                <div class="col">
                        <input type="text" id="invoicePhone" placeholder="* Teléfono" class="form-control" 
                        formControlName="invoicePhone" required
                        [ngClass]="{'is-invalid': invoiceControl.invoicePhone.touched &&  invoiceControl.invoicePhone.errors,
                        'is-valid': invoiceControl.invoicePhone.touched ||  !invoiceControl.invoicePhone.errors }">
                </div>
            </div>
                    
            <div class="line-separation-invoice"></div>

            <p class="text-left mt-0 mb-2"> * Datos bancarios </p>

            <input type="text" id="iban" placeholder="* IBAN" 
                class="form-control mb-3" 
                formControlName="iban" required
                [ngClass]="{'is-invalid': invoiceControl.iban.touched &&  invoiceControl.iban.errors,
                            'is-valid': invoiceControl.iban.touched &&  !invoiceControl.iban.errors }">


<!-- TODO:  -->
<div  formGroupName="ibanGroup">
<div class="form-row">

    <div class="col-2 iban">
        <input type="text"
        maxlength="4"
        formControlName="countryCodeIban"
        [ngClass]="{'is-invalid': invoiceForm.get('ibanGroup.countryCodeIban').touched &&  invoiceForm.get('ibanGroup.countryCodeIban').errors, 
        'is-valid': invoiceForm.get('ibanGroup.countryCodeIban').touched &&  !invoiceForm.get('ibanGroup.countryCodeIban').errors}" required>
    </div>  
    <div class="col-2 iban">
        <input type="text"
        maxlength="4"
        formControlName="entityIban"
        required>
    </div>  
    <div class="col-2 iban">
        <input type="text"
        maxlength="4"
        formControlName="officeIban"
        required>
    </div>  
    <div class="col-2 iban">
        <input type="text"
        maxlength="2"
        formControlName="controlDigitIban" 
        required>
    </div>  
    <div class="col-2 iban-lg">
        <input type="text"
        maxlength="10"
        formControlName="accountNumberIban"
        required > 
    </div>  
    <!-- countryCodeIban entityIban officeIban controlDigitIban accountNumberIban -->
</div>
</div>
<!-- FIXME: -->
                    
            <span class="text-center mb-0 text-color-input"> * Campos obligatorios: </span>
            
            <button class="btn mt-3 btn-block waves-effect" type="submit"
                    [disabled]="!invoiceForm.valid"> Continuar
            </button> 
                <!-- <p>{{invoiceForm.value | json }}</p> -->
        </form>
    </div>
</div>
