<app-external-layout [config]="externalLayoutConfig">
    <app-external-card [title]="titleCard">

        <form class="text-center px-lg-2 pt-4 external-form text-color-input" 
            [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" 
            *ngIf="!resetSendOk">

            <input type="password" id="password" 
                aria-describedby="password" placeholder="Contraseña"
                minlength="8" maxlength="100"
                class="form-control mb-2 mt-0" 
                formControlName="password" 
                [ngClass]="{'is-invalid': recoverControl.password.touched &&  recoverControl.password.errors,
                'is-valid': recoverControl.password.touched && !recoverControl.password.errors}" 
                required>
            
            <input type="password" id="confirmPassword" 
                aria-describedby="confirmPassword" placeholder="Confirmación"
                minlength="8" maxlength="100"
                class="form-control mb-1" 
                formControlName="confirmPassword" 
                [ngClass]="{'is-invalid': recoverControl.confirmPassword.touched && recoverControl.confirmPassword.errors,
                'is-valid': recoverControl.confirmPassword.touched && !recoverControl.confirmPassword.errors}" 
                required>

            <div class="d-flex justify-content-start mt-2  mb-2 error-text-panel" >
                <small id="info-password" class="form-text text-muted mb-1 text-left" 
                    *ngIf="!errorResponse">
                        Utiliza al menos ocho caracteres, una mayúscula, una minúscula y un número.
                    <span *ngIf="recoverControl.confirmPassword.touched && recoverControl.confirmPassword.errors">
                        Las constraseñas no son iguales.
                    </span>
                </small>
                <small id="error-message" class="form-text text-error mb-1 text-left" *ngIf="errorResponse">  
                    {{ errorMessage }} 
                </small>
            </div>

            <button class="btn btn-outline-primary btn-rounded btn-block waves-effect" type="submit"
                    [disabled]="!resetPasswordForm.valid">
                Establecer nueva contraseña
            </button>

            <p class="mt-4"><a [routerLink]="['/login']" class="text-color-input">Ir a login</a>

        </form>

        <div *ngIf="resetSendOk" class="response-success-page">
            <div class="text-center mt-2">
                <img src="https://cdn.techtitute.com/techtitute/assets/img/message_sent.png" alt="message sent" class="image-message" >
                <h4 class="text-link font-weight-bold mt-2">¡Nuevo mensaje!</h4>
            </div>

            <h5 class="text-left font-weight-bold my-4 text-color-input ml-4">
                Comprueba tu correo electrónico para activar la cuenta.
            </h5>

            <div class="text-left send-again mt-0 ml-4">
                <p><span>¿No has recibido el correo? Comprueba la carpeta de spam o correo no deseado.</span>
                </p>
                <p><span>El mensaje puede tardar varios minutos en llegar.</span></p>
            </div>
                
            <p class="text-left mt-2 ml-4"><a  [routerLink]="['/login']" class="send-again">Ir a login</a></p>

        </div>
    </app-external-card>
</app-external-layout>


