<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" class="nav-bar" [containerInside]="false">

  <mdb-navbar-brand>
    <div class="icon-content">
      <app-side-nav class="mobile nav-link dropdown-toggle waves-light waves-effect" [linksList]="linksList"></app-side-nav>
      <img class="logo" src="https://cdn.techtitute.com/techtitute/assets/logos/tech-universidad-tecnologica-white.svg">
    </div>
  </mdb-navbar-brand>

  <app-links-menu class="links" [linksList]="linksList"></app-links-menu>
  
  <div class="user-icons">
      <app-icons-menu [iconList]="iconList" class="icons"></app-icons-menu>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <span class="name-label">{{user.name}} {{user.surname}}</span>
            <span><i class="fas fa-user-circle"></i></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary move-position" role="menu">
              <a [routerLink]="['banner']" class="dropdown-item waves-light user-menu" mdbWavesEffect><span><span>Perfil de usuario</span>  <i class="fas fa-user-edit"></i></span></a>
              <a (click)="logout()" class="dropdown-item waves-light user-menu" mdbWavesEffect> <span> <span>Desconectarse</span>  <i class="fas fa-sign-out-alt"></i></span></a>
          </div>
        </li>
      </ul>
  </div>
  
</mdb-navbar>
