<app-external-layout [config]="externalLayoutConfig">
    <app-external-card [title]="titleCard" class="response-success-page">
        
        <div class="text-center mt-2">
            <img src="https://cdn.techtitute.com/techtitute/assets/img/message_sent.png" alt="mensaje enviado" class="image-message" >
            <h4 class="text-link font-weight-bold mt-2">¡Nuevo mensaje!</h4>
        </div>

        <h5 class="text-left font-weight-bold my-4 text-color-input ml-4">
            Comprueba tu correo electrónico para activar la cuenta.
        </h5>

        <div class="text-left send-again mt-0 ml-4">
            <p>¿No has recibido el correo? Comprueba la carpeta de spam o correo no deseado.</p>
            <p>El mensaje puede tardar varios minutos en llegar.</p>
        </div>
            
        <p class="text-left my-2 ml-4">
            <a  href="" class="send-again">Enviar de nuevo</a>
        </p>

    </app-external-card>
</app-external-layout>
