@import "../../../styles/variables.scss";
@import "node_modules/angular-bootstrap-md/assets/scss/core/colors";
@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/functions";
@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/variables";
@import "node_modules/angular-bootstrap-md/assets/scss/core/mixins";

.generic-card {
  box-shadow: -5px 6px 5px -2px rgba(0, 0, 0, 0.23);
  background-color: #ffffff;

  .card-title {
    padding: 15px 0 15px 30px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: $typography01;

    .dropdown {
      p {
        display: inline-block;
        font-weight: bold;
      }
    }

    .dropdown select {
      background-color: white;
      border: 0 !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: "";
      color: $typography01;
      font-size: 17px;
      font-weight: 500;
    }
  }
}
