<div class="generic-card">
    <div class="card-title">
        <div *ngIf="title; else dropdownOptions">
            {{title}}
        </div>
        <ng-template #dropdownOptions>
            <div class="dropdown">
                <select>
                    <option *ngFor="let item of graphCard.dropdownOptions">{{item}}</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>
        </ng-template>
    </div>
    <div class="body-card">
        <ng-content></ng-content>
    </div>
</div>
