<app-external-layout [config]="externalLayoutConfig">
    <app-external-card [title]="titleCard">
    
        <form class="text-center px-lg-2 pt-4 text-color-input external-form" 
        [formGroup]="recoverForm" (ngSubmit)="onSubmit()" *ngIf="!mailSendOk" >
        
        <input type="email" class="form-control mb-2 mt-0" placeholder="Email" 
        formControlName="email" 
        [ngClass]="{'is-valid': !registerControl.email.errors,
        'is-invalid': registerControl.email.touched && registerControl.email.errors}" 
        required/>
        
        <div class="d-flex justify-content-start mt-1 login-error-text-panel mb-0 text-left">
            <small id="errorMessage" class="form-text text-error "
            *ngIf="errorSendEmail">  {{ errorMessage }} </small>
        </div>
        
        <button class="btn btn-outline-primary btn-rounded btn-block waves-effect mt-0 z-depth-0" 
        type="submit" [disabled]="!recoverForm.valid">Enviar enlace de recuperación</button>
        
        <p class="my-4"><a [routerLink]="['/login']" class="text-color-input">Ir a login</a></p>
        
    </form>

    <div *ngIf="mailSendOk" class="response-success-page">
        <div class="text-center mt-2">
            <img src="https://cdn.techtitute.com/techtitute/assets/img/message_sent.png" alt="message sent" class="image-message" >
            <h4 class="text-link font-weight-bold mt-2">¡Nuevo mensaje!</h4>
        </div>

        <h5 class="text-left font-weight-bold my-4 text-color-input ml-4">
            Comprueba tu correo electrónico para cambiar la contraseña.
        </h5>

        <div class="text-left send-again mt-0 ml-4">
            <p><span>¿No has recibido el correo? Comprueba la carpeta de spam o correo no deseado.</span>
            </p>
            <p><span>El mensaje puede tardar varios minutos en llegar.</span></p>
        </div>
            
        <p class="text-left my-2 ml-4"><a  [routerLink]="['/login']" class="send-again">Ir a login</a></p>

    </div>

    </app-external-card>
</app-external-layout>

