<div class="card-body">
    <div class="graph-box">
        <canvas mdbChart 
        [chartType]="graphCard.chartType" 
        [datasets]="graphCard.chartDataSets"
        [labels]="graphCard.chartLabels" 
        [colors]="graphCard.chartColors" 
        [options]="graphCard.chartOptions"
        [legend]="true" 
        (chartHover)="chartHovered()"
        (chartClick)="chartClicked()">
        </canvas>
    </div>
    <div class="fecha-graph">
        <p><i class="far fa-calendar-alt"> </i> Fecha inicio: {{ dateRange?.from | date: 'dd/MM/yyyy'}}</p>
        <p><i class="far fa-calendar-alt"> </i> Fecha fin: {{ dateRange?.to | date: 'dd/MM/yyyy'}}</p>
    </div>
    <div class="resume-graph">
        <div *ngFor="let item of graphCard.summary" class="resume-graph-box" >
            <p>{{item.label}}</p>
            <p *ngIf="item.key !== 'amount'; else amount"> {{ item.value }} </p>
            <ng-template #amount>
               <p>{{ ((item.value | number:'.0-5': countryCode) | currencyCustom:currencySymbol:countryCode) }}</p>
            </ng-template>
        </div>
    </div>
</div>
