$light-blue: #2765d1;
$light-blue-button: #027ae9;
$light-grey: #72849a;
$nav-blue: #03223f;
$info-error-red: #fa3f3f;
$card-dark-background: #03223f;
$text-black-color: #404f61;
$border-color: #f7f8fc;
$dark-gray: #404f61;
$info-success-green:  #28a745;
$line-grey: #bbbdbf;
$white-text: #ffffff;
$hover-blue-color:#143177;
