<div [ngClass]="{'open-right' : open, 'close-right': !open}" class="sidenav-right">
    <a class="close-btn" (click)="controlNav()">&times;</a>
    <h3 class="link" >Título </h3>
    <a class="link">Contenido</a>
</div>
  
<div class="icons-menu no-mobile-icon">
    <div class="icon-alert" *ngFor="let item of iconList">
        <img class="icon-width" (click)="controlNav()" [src]="item.icon" >
        <div class="number-circle" (click)="controlNav()">
            {{item.notificationNumber}}
        </div>
    </div> 
</div>
<div class="icons-menu mobile-icon">
    <div class="btn-group" mdbDropdown>
        <button mdbDropdownToggle mdbBtn color="d" size="sm" class="dropdown-toggle waves-light contextual-menu" type="button"
            mdbWavesEffect>
            <i class="fas fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let item of iconList" class="dropdown-item" (click)="controlNav()" class="icon-box-open">
                {{item.label}}
                <div class="icon-box">
                    <img class="icon-width-dropdown" [src]="item.icon">
                    <div class="number-circle-menu">
                        {{item.notificationNumber}}
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
