<div class="card-body">
    <div class="graph-box">
        <canvas mdbChart 
        [chartType]="graphCard.chartType" 
        [datasets]="graphCard.chartDataSets"
        [labels]="graphCard.chartLabels" 
        [colors]="graphCard.chartColors" 
        [options]="graphCard.chartOptions"
        [legend]="true" 
        (chartHover)="chartHovered($event)" 
        (chartClick)="chartClicked($event)">
        </canvas>
    </div>
    <div class="fecha-graph">
        <p><i class="far fa-calendar-alt"> </i> Fecha inicio:10/10/10 </p>
        <p><i class="far fa-calendar-alt"> </i> Fecha fin: 10/10/10</p>
    </div>
    <div class="resume-graph">
        <div *ngFor="let item of graphCard.graphResume" class="resume-graph-box" >
            <p>{{item.text}}</p>
            <p>{{item.value}}</p>
        </div>
    </div>
</div>
