<div class="square">
  <p>
    <i>
      Esto es un resumen de los términos y condiciones de utilización de nuestros sitios web.
    </i> 
  </p>
  <p class="important">
    <span class="title">Renuncia:</span>
  </p>
  <p>
    Este resumen no es parte de las condiciones de uso y no puede ser considerado como un documento legal. Es
    símplemente una referencia accesible para entender las condiciones de uso en su totalidad. Piense que es una
    interfaz sencilla hacia el lenguage legal de nuestras condiciones de uso.
  </p>
  <p class="important">
    <span class="title">Parte de nuestra misión es:</span>
  </p>
  <p>
    Capacitar y atraer personas alrededor del mundo a recopilar y desarrollar contenido educativo y publicarlo bien bajo
    licencia libre o bien donándolo al dominio público.
    Diseminar ese contenido de manera efectiva y global, sin costes.
  </p>
  <p class="important">
    <span class="title">Usted es libre de:</span>
  </p>
  <p>
    Leer e imprimir nuestros artículos y otros recursos de manera gratuita.
    Compartir y reutilizar nuestros artículos y otros recursos siempre bajo licencias libres y abiertas.
    Contribuir y editar en nuestros proyectos.
  </p>
  <p class="important">
    <span class="title">Bajo las siguientes condiciones:</span>
  </p>
  <div>
    <p>Responsabilidad — Usted es responsable de sus ediciones (en tanto que nosotros sólo alojamos su contenido).</p>
    <p>Urbanidad — Usted apoyará un entorno cívico y no hostigará ni atacará a otros usuarios.</p>
    <p>Comportamiento legal — Usted no infringirá las leyes de derechos de autor ni otras leyes.</p>
    <p>No daños — Usted no dañará nuestra infraestructura tecnológica.</p>
    <p>Términos y condiciones de uso y políticas — Usted adhiere a los siguientes Términos y condiciones y a las
      políticas de la comunidad aplicables cuando usted visita nuestros sitios o participa en nuestras comunidades.</p>
  </div>
  <p class="important">
    <span class="title">Con el entendimiento de que:</span>
  </p>
  <p>
    Usted libera sus contribuciones bajo licencia libre — usted generalmente deberá licenciar sus ediciones y
    contribuciones a nuestros proyectos bajo licencias libres y abiertas, salvo que sus contribuciones estén en el
    dominio público.
    No es consejo profesional — el contenido de los artículos y otros proyectos es con propósitos informativos y no
    constituye consejo profesional.
  </p>

</div>