// @import "./src/styles/external-layout";
// @import "./src/styles/internal-layout";
@import "./src/styles/variables";


// .base-component {
//     background-color: #f7f8fc;
//     margin: 0;
//     padding: 0;

// }  


.title-row {
    height: 100px;
}

.title-section {
    height: 150px;
    display: flex;
    align-items: center;
    // @include media-breakpoint-down(md) {
    //   justify-content: center !important;
    // }

    .title {
        font-size: 1.8rem;
    //   @include media-breakpoint-up(md) {
    //     font-size: 2rem;
    //     padding: 0 50px;
    //   }
        color: $card-dark-background;
    }
    .secundary-title {
        font-size: 1.8rem;
        color: $dark-gray;
    }
    .info-welcome {
        color: $dark-gray;
        font-size: 1rem;
        margin: 0;

    }
    
}


.welcome-card-form {
    
    .card-header {
        border-radius: 0;
        background-color: #ffffff;
        border-color:  #ffffff;
        color: $light-blue;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        padding: 0;
        padding-bottom: 0.5rem;
        
        i {
        font-size: 32px;
        }
        
        h4 {
        font-size: 1.25rem;
        }
    }

    .card-body {
        padding: 0;
        padding-bottom: 1.25rem;
    }


    .btn {
        background-color: $light-blue-button;
        color: #ffffff;
        height: 3rem;
    }

    .text-color-input {
        color: $light-grey;
    }

    .line-separation {
        width: 100%;
        height: 2px; 
        background-color: #bbbdbf;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    .line-separation-invoice {
        width: 100%;
        height: 2px; 
        background-color: #bbbdbf;
        margin-top: 1.5rem;
        margin-bottom: .5rem;
    }

    .text-size-info {
        font-size: .85rem;
        color: $light-grey;
    }

    a {
        text-decoration-line: underline;
    }

    a:hover {
        color: $light-blue;
    }

    .prefix-mumber{
        padding-top: .5rem;
        color: $light-grey;
    }

}