<div class="row form-frofile welcome-page">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 header-page-section">
        <h1 class="title-app text-align-left">Programa de <b>afiliados</b></h1>
        <h2 class="title-page">Bienvenido,</h2>
        <p class="description-page">Antes de empezar rellena los siguientes datos</p>
    </div>

    <mat-horizontal-stepper  [linear]="isLinear" #stepper class="col-sm-12">
        <mat-step  color="primary" [completed]="isActiveStepper">
            <ng-template matStepLabel>Datos presonales</ng-template>
            <div class="card z-depth-2 mt-lg-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                <app-personal-data #firstFormGroup
                    [paises]="country"
                    [user]="affiliate"
                    [sharePersonalData]="showCheckPersonalData"
                    [showPrivacyPolicy]="showPrivacyPolicy"
                    [countriesInput]="countries"
                    (sendPersonalData)="getPersonalData($event)"
                    (isFormValid)="activateStepper($event)"
                    (stepperFoward)="goForwardStepper(stepper)">
                </app-personal-data>
            </div>
        </mat-step>

        <mat-step [completed]="isActiveStepper">
            <ng-template matStepLabel >Datos de facturación
            </ng-template>
            <div class="card z-depth-2 mt-lg-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                <app-invoice-data #secondFormGroup
                    [user]="affiliate"
                    [countries]="countries"
                    [personalData]="sendPersonalData">
                </app-invoice-data>
            </div>
        </mat-step>
            
    </mat-horizontal-stepper>
</div>
