<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" class="nav-bar" [containerInside]="false">

  <mdb-navbar-brand>
    <div class="icon-content">
      <app-side-nav class="mobile nav-link dropdown-toggle waves-light waves-effect" [linksList]="linksList"></app-side-nav>
      <img class="logo" src="https://cdn.techtitute.com/techtitute/assets/logos/tech-universidad-tecnologica-white.svg">
    </div>
  </mdb-navbar-brand>

  <app-links-menu class="links" [linksList]="linksList"></app-links-menu>
  <div class="user-icons">
    <app-icons-menu [iconList]="iconList" class="icons"></app-icons-menu>
    <app-user-menu [user]="user"></app-user-menu>
  </div>
  
</mdb-navbar>