<app-external-layout [config]="externalLayoutConfig">

   <app-external-card>
      <form class="text-center px-lg-2 pt-4 external-form text-color-input" 
            [formGroup]="loginForm" (ngSubmit)="onSubmit()">

         <input type="email" placeholder="Email o Código"
         class="form-control mb-2 mt-0"  
            formControlName="codeOrEmail" 
            [ngClass]="{'is-valid': !loginControls.codeOrEmail.errors,
            'is-invalid': loginControls.codeOrEmail.touched && loginControls.codeOrEmail.errors }"
            required />
         
         <input type="password"  placeholder="Contraseña" 
            class="form-control mb-0"
            formControlName="password"
            [ngClass]="{'is-invalid': loginControls.password.touched &&  loginControls.password.errors,
            'is-valid': loginControls.password.touched && !loginControls.password.errors}"
            required/>
         
         <div class="d-flex justify-content-start mt-1 login-error-text-panel mb-0 text-left">
            <small id="error-message" 
               class="form-text text-error "
               *ngIf="errorLogin">  {{ errorMessage }} 
            </small>
         </div>
         
         <div class="d-flex justify-content-start mt-0">
            <div class="custom-control custom-checkbox">
               <input type="checkbox" id="check-remember" 
                  class="custom-control-input" 
                  formControlName="checkRemember">
               <label class="custom-control-label text-color-input" for="check-remember">Guardar email</label>
            </div>
         </div>

         <div class="d-flex justify-content-start font-italic form-text mt-0 mb-4">
            <a  [routerLink]="['/recuperar-cuenta']" (click)="setUserEmail()" >¿Olvidó su contraseña?</a>
         </div>
         
         
         <button class="btn btn-outline-primary btn-rounded btn-block waves-effect z-depth-0" 
            type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>

         <p class="mt-4"><a [routerLink]="['/registrarse']" 
            class="text-color-input">Crear una cuenta nueva</a></p>

      </form>
   </app-external-card>

</app-external-layout>
