@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./src/styles/mdboostrap-imports";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~saturn-datepicker/bundle.css';

html, body {
  height: 100%;
}

body{
  background-color: #f8f7fc;
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}
