@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./src/styles/mdboostrap-imports";

html, body {
  height: 100%;
}

body{
  background-color: #f8f7fc;
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}
