.footer-text {
  text-align: center;
  font-size: 0.8rem;
  color: #404f61;

  .icon-map-marker {
    padding-right: 5px;
  }
}

.app-version {
  text-align: right;
  padding: 0 15px;
  font-size: 11px;
}
